{% extends 'myapp/base.html' %}

{% block title %}
PC-Store| Cambiar Contraseña {{user.username}}
{% endblock %}


{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">
          <h1 class="text-center mt-4">Perfil de {{user.username}}</h1>
          <p class="text-center">Ingresa tu nueva contraseña:</p>

        <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex justify-content-around">
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        <a class="btn btn-warning" href="{% url 'inicio' %}">Volver</a>
        </div>
        </form>

        </div>
    </div>
</div>

{% endblock %}