{% extends 'myapp/base.html' %}

{% block title %}
PC-Store| Inicio de Sesión
{% endblock %}


{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">
        <h1 class="text-center mt-4">Ingreso de usuario</h1>

        <form action="" method="POST">
        {% csrf_token %}

          <input type="text" name="username" placeholder="Ingrese el nombre de usuario">
          <input type="password" name="password" placeholder="Ingrese la contraseña">

        <div class="d-flex justify-content-around">
          <button type="submit" class="btn btn-primary">Ingresar</button>
          <a class="btn btn-warning" href="{% url 'inicio' %}">Volver</a>
        </div>
        </form>

        </div>
    </div>
</div>

{% endblock %}