{% load static %}
<div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 50vh;">
  <!-- Card 1 -->
  <div class="card text-center m-3" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'myapp/assets/img/fuente_poder.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Descuento en Fuentes de Poder</h5>
      <p class="card-text">Últimas Unidades.</p>
      <a href="#" class="btn btn-primary">30% de descuento.</a>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card text-center m-3" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'myapp/assets/img/tarj_video.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Descuento en Tarjetas de video</h5>
      <p class="card-text">Últimas Unidades.</p>
      <a href="#" class="btn btn-primary">5% de descuento.</a>
    </div>
  </div>

  </div>
</div>