{% extends 'myapp/base.html' %}

{% block title %}
PC-Store | Enviar Mensaje
{% endblock %}


{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h1 class="text-center mb-4">Enviar Mensaje</h1>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="destinatario" class="form-label">Destinatario</label>
                    <select name="destinatario" id="destinatario" class="form-select">
                        {% for usuario in usuarios %}
                            <option value="{{usuario.username}}">{{usuario.username}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="contenido" class="form-label">Contenido</label>
                    <textarea name="contenido" id="contenido" class="form-control" rows="5"></textarea>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}